* {
    box-sizing: border-box;
  }
  
  
  body {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: medium;
    display : flex;
    align-items: center; 
    justify-content: center;
    min-height: 100vh; /*bu olmadan justify content çalışmaz. vh = 1/100 px*/
    font-weight: bolder;
    margin: 10px auto;
    background-color: #471e1789;
    background-image: url("pexels-steve-johnson-1269968.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: 100%;

  
  }
  form{
    background-color: #cd814ac6;
    padding: 20px;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    border-radius: 30px;
    width: 500px;
    height: 500px;
  }
  #logo {
      display:flex;
      cursor:pointer;
      margin-top: -350px;

      margin-left: -500px;
      width: 40px;
      border-radius: 40px;
      float: left;
      transition-duration: 300ms;
    
  }
  #logo:hover{
    transform: scale(1.2);
    transition: transform 0.5s ease-in-out;
    filter: grayscale(100%); 
    transition: filter 0.5s ease-in-out; 
}
h2{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:#ffffff;
    font-size: 50px;
}
h5{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:#ffffff;
}

form input{
    border: none;
    background: none;
    text-align: center;
    outline: none;
    padding: 10px;
    margin: 20px;
    color:white;
    height:10%;

    width:70%;
    border-radius: 40px;
    transition: 0.5s ease-in;
}

form input[type = "text"], form input[type="password"]{
    border:solid 2px;

}
form input[type = "submit"]{
    border:solid 2px;
    height: 50px;
    width: 40%;
    box-sizing: border-box;
}

form input[type = "text"]:focus, form input[type="password"]:focus{
    width:80%;
    border:solid 5px;

}
form input[type = "submit"]:hover{
    background:#cf1212;
}
form input::placeholder{
    color:white;
}
a{
    text-decoration: none;
    color:#ffffff;
    
}