/*
margin: 50px auto;  ortalamayı sağlar

line-height ile yazı ortalanabilir.
*/

* {
  box-sizing: border-box;
}


body {
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: medium;
  font-weight: bolder;
  margin: 10px;
  background-color: #6a4d4889;

}
body::-webkit-scrollbar{
  background: #eee;
  width: 6px;
  height:6px;
  border-radius: 4px 4px 0 0;

}
body::-webkit-scrollbar-corner{
  background: #eee;
}

body::-webkit-scrollbar-thumb{
  background: #692020;
  border-radius:6px;
}

#menuyeri {
  height: 30px;
  margin-top:20px;
  padding: 0 0px;
}
#logo {
    display:flex;
    cursor:pointer;
    margin-top: 5px;
    width: 40px;
    border-radius: 40px;
    float: left;
    transition-duration: 300ms;
  
}
#arama{
  margin-left:500px;
  
  margin-top:5px;
  padding:10px;

}
#ara{
  margin-left:580px;
  margin-top:-44px;
  
 
}
#ara input{
  border: none;
  background: none;
  text-align: center;
  border-radius: 40px;
  width: 30%; 
  transition: 1s ease-in;
}
#ara input[type = "text"]{
  border:solid 1px rgba(0, 0, 0, 0.382);

}
#ara input[type = "text"]:focus{
  width:38%;
  border:solid 2px;
}
#ara input::placeholder{
  color:#5B0909;
}

#checkbox{
  text-decoration: none;
  color: #5B0909;
  margin-right: 25px;
}
#logo:hover{
  transform: scale(1.2);
  transition: transform 0.5s ease-in-out;
  filter: grayscale(100%); 
  transition: filter 1s ease-in-out; 
}

nav {
  margin-top:-65px;
  float: right;
  line-height: 80px;
  text-align: center;
}

nav a { 
  text-decoration: none;
  color: #5B0909;
  margin-right: 25px;
  transition-duration: 1.5s;
}
nav a:hover{
  color:#f90000c6;
}
#banner{
    height: 500px;
    background-image: url("arkplan.jpg");
    background-size:cover;
    background-attachment: fixed;

    background-position: center;
    
}
#karartma{
    height: 500px;
    background-color:rgba(0, 0, 0, 0.449);
    opacity: 0.4;
}
#banner button {
    color: black;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size:medium;
    background-color: #6a4d4889;
    margin-left:200px;
    margin-right:100px;
    width: 400px;
    height: 50px;
    border-style:solid;
    border-radius: 35px;


    
}
#banner button:hover{
  background-color: #43150d89;
  transition-duration: 0.8s;
}
#yazi{
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-shadow: 0px 5px 5px rgb(156, 81, 81);

}
#buton a{
  
  text-decoration:none;
  color:#5B0909;
}
#offline{
  background: rgba(139, 0, 0, 0.389);
  color:#fff;
  display:none;
  padding: 12px;
  font-size: 20px;
}
