/*
margin: 50px auto;  ortalamayı sağlar

line-height ile yazı ortalanabilir.
*/

* {
    box-sizing: border-box;
  }
  body {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: medium;
    margin: 10px auto;
    margin-bottom: 10px;
    background-image: url("bej.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: 100%;
    font-weight: bolder;
  }
  body::-webkit-scrollbar{
    background: #eee;
    width: 6px;
    height:6px;
    border-radius: 4px 4px 0 0;
  
  }
  body::-webkit-scrollbar-corner{
    background: #eee;
  }
  
  body::-webkit-scrollbar-thumb{
    background: #692020;
    border-radius:6px;
  }
  
  #menuyeri {
    height: 30px;
    margin-top:70px;
    padding: 20 0px;
  }
  #logo {
      display:flex;
      cursor:pointer;
      margin-top: -60px;
      width: 40px;
      border-radius: 40px;
      float: left;
      transition-duration: 300ms;
    
  }
  
  
  #logo:hover{
    transform: scale(1.2);
    transition: transform 0.5s ease-in-out;
    filter: grayscale(100%); 
    transition: filter 1s ease-in-out; 
}
  #başlık{
   
    margin-left:30px;
    color: #5B0909;
  }
  nav {
    margin-top:-65px;
    float: right;
    line-height: 80px;
    text-align: center;
  }
  
  nav a { 
    text-decoration: none;
    color: #5B0909;
    margin-right: 25px;
    transition-duration: 1.5s;
  }
  nav a:hover{
    color:#f90000c6;
  }
  #offline{
    background: rgba(139, 0, 0, 0.389);
    color:#fff;
    display:none;
    padding: 12px;
    font-size: 20px;
  }



nav a {
    text-decoration: none;
    color: #6c1c1c;;
    margin: 0 10px;
    font-weight: bold;
}


#bul {
    max-width: 400px;
    margin: 50px auto;
    background-color: #ffffff93;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#bul h2 {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

input[type="text"],
input[type="date"],
button {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
    margin-bottom: 10px;
}

button {
    background-color: #6c1c1c;
    color: #fff
}

a{
  text-decoration: none;
  color: #fff
}
#sonuc {
  margin-top: 20px;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}